<div class="dropdown">
  <span id="dropdown" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">My Apps
  <span class="caret"></span></span>
  <ul class="dropdown-menu">
    <li><a href="{% url 'lab-1:index' %}">Lab 1</a></li>
    <li><a href="{% url 'lab-2:index' %}">Lab 2</a></li>
    <li><a href="{% url 'lab-3:index' %}">Lab 3</a></li>
    <li><a href="{% url 'lab-4:index' %}">Lab 4</a></li>
    <li><a href="{% url 'lab-5:index' %}">Lab 5</a></li>
    <li><a href="{% url 'lab-6:index' %}">Lab 6</a></li>
    <li><a href="{% url 'lab-7:index' %}">Lab 7</a></li>
    <li><a href="{% url 'lab-8:index' %}">Lab 8</a></li>
    <li><a href="{% url 'lab-9:index' %}">Lab 9</a></li>
  </ul>
  {% if is_login %}
  <span>
    <a style="margin-right: 25px; margin-left: 25px; color: white;" href="{% url 'lab-10:dashboard' %}"> Dashboard </a>
    <a style="margin-right: 25px; color: white;" href="{% url 'lab-10:movie_list' %}"> Daftar Movie </a>
    <a style="margin-right: 25px; color: white;" href="{% url 'lab-10:list_watch_later' %}"> Daftar Watch Later </a>
    <a style="margin-right: 25px; color: white;" href="{% url 'lab-10:list_watched_movie' %}"> Daftar Watched Movie </a>
  </span>
  {% endif %}
  <span id="logout-button" class="pull-right">
  </span>
</div>