<style>
	.navbar{
		margin-top: 30px;
		font-family: 'Josefin Sans';
		text-align: center;
		background-color: rgb(130, 174, 255);
		margin-bottom: 0px;
	}
</style>

<nav class="navbar fixed-bottom navbar-light bg-light">
  <p><br>&copy; 2017 Coded with love by {{author}}. All rights reserved</p>
</nav>