<!-- Fixed navbar -->
<style >
  div{
    font-family: 'Maven Pro';
    font-size: 17px;
  }

  .navbar{
    background-color: rgb(130, 174, 255);
  }

  a{
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
       -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
            transition: all 0.3s ease;
  }

  a:hover,
  a:focus{
    opacity: 1;
  }

  h1{
    text-align: center;
    font-family: 'Lobster'; 
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
</style>
<h1>&mdash; This Is My Portofolio &mdash;</h1>
    <nav class="navbar navbar-default navbar-static-top" style="border-color: transparent;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only" style="background-color: white">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'lab-4:index' %}"><img src="https://i.imgur.com/1TIYvPI.png" width="30px" style=" margin-top: -5px"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!-- LINK MENUJU table, dan link menuju home#form -->
            <li><a href="{% url 'lab-4:index' %}#form" style="color: white"> Form </a></li>
            <li><a href="{% url 'lab-4:result_table' %}" style="color: white"> Messages Table </a> </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

