body {
  min-height: 2000px;
  overflow: hidden;
  &.in-transition {
    transition: transform 900ms ease;
  }
}

.navbar-static-top {
  margin-bottom: 19px;
}
/*Textarea not resizeable*/
textarea {
    resize:none
}