{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Detail Movie </h2>
    </div>
    <div class="panel-body">
        <div class="pull-left" style="margin-right: 20px;">
            <img style="border: solid 5px black;" src="{{ movie.poster }}" width="240px">
        </div>
        <h2><strong> {{ movie.title }} </strong></h2>
        <div class="col-lg-10 col-lg-9">
            <table width="100%">
                <tr>
                    <td><h4><strong>Rilis</strong></h4></td>
                    <td><h4> : {{ movie.released }}</h4></td>
                </tr>
                <tr>
                    <td><h4><strong>Sutradara&nbsp;</strong></h4></td>
                    <td><h4> : {{ movie.director }}</h4></td>
                </tr>
                <tr>
                    <td><h4><strong>Plot</strong></h4>
                    <td><h4> : {{ movie.plot }}</h4></td>
                </tr>
                <tr>
                    <td><h4><strong>Durasi</strong></h4></td>
                    <td><h4> : {{ movie.runtime }}</h4></td>
                </tr>
                <tr>
                    <td><h4><strong>Genre</strong></h4></td>
                    <td><h4> : {{ movie.genre }}</h4></td>
                </tr>
                <tr>
                    <td><h4><strong>Rating</strong></h4></td>
                    <td> : <p id="rating" value="{{ movie.imdbrating }}" style="font-size: 20px;" class="btn btn btn-info" title="IMDB Rating">{{ movie.imdbrating }}</p></td>
                </tr>
                <tr>
                    <td><h4><strong>Website</strong></h4></td>
                    <td> : <a style="font-style: italic;" href="{{ movie.website }}">{{ movie.website }}</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        {% if added %}
            <button class="btn btn-success"> Added to Watch Later </button>
        {% else %}
            <a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"> Add to Watch Later </a>
        {% endif %}
    </div>
</div>
{% endblock %}

<script type="text/javascript">
    console.log({{ movie }})
</script>