{% extends "lab_10/layout/base.html" %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">
        <h2> Daftar Watched Movie </h2>
    </div>
    <div class="panel-body">
    	{% for movie in my_movies %}
    		<a  class="list-group-item clearfix">
	         	<span class="pull-right">
	          	<img style="border: solid 5px black;" src="{{ movie.poster }}" width="200px">
	         	</span>
	          <p style="font-size: 30px;"><strong>{{ movie.title }}</strong></p>
	         	<div class="col-lg-10 col-lg-9">
	            	<table width="100%">
	                	<tr>
	                    	<td><h4><strong>Rilis</strong></h4></td>
	                    	<td><h4> : {{ movie.released }}</h4></td>
	                	</tr>
	                	<tr>
	                    	<td><h4><strong>Plot</strong></h4>
	                    	<td><h4> : {{ movie.plot }}</h4></td>
	                	</tr>
	                	<tr>
	                    	<td><h4><strong>Rating&nbsp;</strong></h4></td>
	                    	<td> : <p id="rating" value="{{ movie.imdbrating }}" style="font-size: 20px;" class="btn btn btn-default" title="IMDB Rating">{{ movie.imdbrating }}</p></td>
	                	</tr>
	            	</table>
	        	</div>
	     </a>
    	{% endfor %}
    </div>
</div>
{% endblock %}