*{
  padding: 0px;
  margin: 0px;
  font-family: 'Josefin Sans';
}

body{
  background-image: url(https://i.pinimg.com/originals/5b/7e/70/5b7e700465353492603477236eca0962.jpg); 
  background-size: 100%;
  position: relative;
}

.footer{
  display: none;
  text-align: center;
}

.dropdown{
  margin-left: 10px;
  margin-top: 10px;
}

#dropdown{
  background-color: transparent;
  border: none;
}

#welcome{
  text-align: center;
  margin-top: 25vh;
}

#welcome h1{
  font-size: 70px;
  color: white;
}

#welcome h4{
  font-size: 40px;
  color: white;
}

#facebookLogin{
  text-align: center;
}

#facebookLoginButton {
    background-color: transparent;
    border-radius: 100px 100px 100px 100px;
    border: solid 5px #3DA5CC;
    font-size: 25px;
    font-family: 'Helvetica';
    padding: 15px 60px;
    color: #3DA5CC;
    transition: all 0.3s linear;
}

#facebookLoginButton:hover {
    background-color: #3DA5CC;
    color: white;
}

.profile .cover{
  /* Full height */
  height: 50%; 

  /* Center and scale the image nicely */
  background-size: cover;
}

.profile .picture{
  
}

.profile .data {
  border: solid 5px #3DA5CC;
  border-width: 50%;
}

.profile .data h1, h2, h3{
  color: white;
}