*{
  padding: 0px;
  margin: 0px;
  font-family: 'Josefin Sans';
}

body{
  background: url(https://i.imgur.com/ugNmG8t.png) center center fixed;
  position: relative;
  background-size: 100%;
}

.footer{
  position: absolute;
}

.dropdown{
  background-color: #1c1c1c;
  padding-top: 15px;
  padding-right: 10px;
  height: 60px;
}

#dropdown{
  background-color: transparent;
  border: none;
}

.rata-tengah {
  text-align: center;
  margin : 20px;
}
.judul {
  text-transform:uppercase;
  margin-bottom: 50px;
  margin-top: 50px;
}

.detail-movie {
  padding-left: 10%;
  padding-right: 10%;
}

.watch-later-movies{
  width: 100%;
}