{% extends "lab_4/layout/base.html" %}

    {% block content %}

<style>
hr { 
    display: block;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    border-width: 5px;
    border-color: white;
} 
 
h2{
    font-family: 'Lobster';
} 

section{
    font-family: 'Josefin Sans';
    font-size: 17px;
}

td{
    padding:0px 20px 0px 10px;
}

.profil{
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
          transition: all 2s ease;
}

.profil:hover{
  animation: pulsate 3s ease-out infinite;
  filter: drop-shadow(0px 0px 10px black);
}

@-webkit-keyframes pulsate {
  0%   { transform: translateY(0px); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

</style>
<hr/>
<section name="bio" class="bg-highlight text-inverse">
    <table align="center" style="text-align: left;">
        <td>
            <img class="profil" src="https://imgur.com/OKp2UHx.png" width="180" height="180"/>
        </td>
        <td>
            <h2>Bio</h2>
            <p style="text-align: justify;">{{content}}</p>
            <p class="status" id="test" style="font-weight: bold; text-align: left;"> &mdash; Ayatul Qursi <br></p>    
        </td>
    </table>
</section>
<hr/>

<section name="about_me">
    <h2>About Me</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>

<style>
#form:before{
padding-top:15px;display:block;content:"";
}
</style>

<section id="form" name="form" style="margin-bottom: 100px;">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
<hr/>
<section name="contact">
    <h2 style="font-size: 50px">Contact</h2>
    <hr/>
    <p style="text-align: left;">
    <img src="https://imgur.com/pBRsswX.png" width="25px" style="margin-bottom: 10px"><a href="http://facebook.com/Raehaen" style="color: currentColor; margin-left: 10px">Ahmad Wigo Prasetya</a></p>
    <p style="text-align: left;">
    <img src="https://imgur.com/eZ2t3Mu.png" width="25px" style="margin-bottom: 10px"><a href="https://twitter.com/CrWigo7" style="color: currentColor;  margin-left: 10px">Ahmad Wigo P</a></p>
    <p style="text-align: left;"><img src="https://i.imgur.com/vqKRul8.png" width="30px" style="margin-left: -3px"><a href="https://www.instagram.com/wigoardi" style="color: currentColor; margin-left: 10px">wigoardi</a></p>
    <p style="text-align: left;"><img src="https://cdn0.iconfinder.com/data/icons/social-media-2092/100/social-40-512.png" width="30px" style="margin-left: -3px"><a href="https://i.imgur.com/q5WQ4x2.jpg" style="color: currentColor; margin-left: 10px">akumuslim1998</a></p>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("a").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 1200, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

{% endblock %}