{% extends "base.html" %}
{% block content %}
<style>
    .center_screen {
        position: absolute;
        width: 500px;
        height: 50px;
        top: 30%;
        left: 50%;
        margin-left: -250px; /* margin is -0.5 * dimension */
        margin-top: -25px;
        color: white;
    }
</style>
<div class="center_screen">
    <p class="status" id="test" style="font-weight: bold; font-size: 29px">Hello, this is {{ name }}. <br></p>
    <p class="status" id="test" style="text-align: justify; font-size: 18px">{{ content }}.</p>
    <p class="status" id="test" style="font-weight: bold"> &mdash; Ayatul Qursi <br></p>
</div>
{% endblock %}
