<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Biodata</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="shortcut icon" href="https://imgur.com/OKp2UHx.png">
</head>
<style>
    table, th, td {
        border: 3px solid white;
    }
    .subject{
        font-size: 30px;
        font-family: "Verdana";
        color: white;
    }
    .value{
        font-size: 30px;
        font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
        color: white;
    }
    .navbar{
      background-color: #272f44;
      max-height: 55px;
    }

    .navbar-toggler{
      color: black;
      background-color: white;
      pointer-events: painted;
      poin
    }

    .navbar-nav{
      font-size: 14px;
    }

    .nav-link{
      margin-right: 10px;
      margin-left: 10px;
    }

    a{
      color: grey;
      -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.2s ease;
          -ms-transition: all 0.3s ease;
              transition: all 0.3s ease;
    }

    a:hover,
    a:focus{
      color: white;
    }

</style>
<body style="background-image: url(https://i.imgur.com/grmA1Va.jpg); background-size: 100%">
    <div class="container-fullwidth">
        <nav class="navbar navbar-default navbar-expand-lg">
          <a class="navbar-brand" href="/lab-2/" style="color:#9E579D; font-weight: bold; font-size: 25px">W</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/lab-2/">HOME</a>
              </li>
              <li class="nav-item" >
                <a class="nav-link" href="/lab-2-addon/">ABOUT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/lab-3/">DIARY</a>
              </li>
            </ul>
          </div>
        </nav>
    </div>
    {% block content %}
    {% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
{% block jquery %}
{% endblock %}
</html>