{% extends "lab_7/layout/base.html" %}

{% block content %}
    <section name="friend-list" id="friend-list">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h2> My Fasilkom Friend</h2>
                    <div id="friend-list-container" class="list-group">
                        {% if friend_list %}
                            {% for friend in friend_list %}
                                <a id='{{friend.id}}' class="list-group-item clearfix">
                                  {{ friend.friend_name }} ({{ friend.npm }})
                                  <span class="pull-right">
                                    <button class="btn btn btn-primary" onclick="friendDescription({{friend.id}})">Lihat Detail</button>
                                    <button class="btn btn btn-danger" onclick="deleteFriend({{friend.id}})">Hapus Teman</button>
                                  </span>
                                </a>
                            {% endfor %}
                        {% else %}
                        <div class="alert alert-danger text-center">
                            <strong>Opps!</strong> Tidak ada teman
                        </div>
                        {% endif %}
                    </div>
                    <div id="pagination_page">
                        {% if friend_list.has_previous %}
                            <a class="prev btn btn-info" href="?page={{friend_list.previous_page_number}}">Prev</a>
                        {% endif %}
                        <span class="current">
                            Page {{ friend_list.number }} of {{ friend_list.paginator.num_pages }}.
                        </span>
                        {% if friend_list.has_next %}
                            <a class="next btn btn-info" href="?page={{friend_list.next_page_number}}">Next</a>
                        {% endif %}
                    </div>  
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
    <script>
        var deleteFriend = function (friend_id) {
            $.ajax({
                method: "DELETE",
                url: "/lab-7/delete-friend/" + friend_id + "/",
                success: function (data) {
                    $('#'+friend_id).remove()
                    var curItem = $('.clearfix').length
                    if(curItem == 0) {
                        $("#friend-list-container").append("<div class=\"alert alert-danger text-center\">" + "<strong>Opps!</strong> Tidak ada teman" + "</div>");
                    }
                },
                error: function(error) {
                    alert("ERROR")
                }
            });
        };

        var friendDescription = function(id){
            $.ajax({
                method: "GET",
                url: "/lab-7/get-friend-list/description/" + id + "/",
                success: function(data){
                    window.open('description/'+id+'/', '_self');
                }
            });
        };
    </script>
{% endblock %}
